.search img {
  width: 100%;
}
.search {
  position: relative;
}
.food-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.food-title h2 {
  font-size: 40px;
}
.search-food {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-food {
  display: flex;
  align-items: center;
}
.food input {
  border: none;
  border-radius: 20px;
  width: 380px;
  height: 40px;
  font-size: 15px;
  padding-left: 20px;
}
*:focus {
  outline: none;
}
.food button {
  border: none;
  border-radius: 30px;
  margin-left: -33px;
  width: 120px;
  height: 40px;
  background-color: white;
  background-color: #f91944;
  color: white;
}
